@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the MLS Management</h1>
</div>
<br>
<div class="text-center">
    <h3 class="display-5">choose which list type you want to use</h3>
</div>
<br>
<div class="text-center">
    <a href="https://localhost:44370/Home/CreateGeneric" class="btn btn-info">Craft List</a>
    <a href="https://localhost:44370/Home/Create" class="btn btn-info ">List C#</a>
</div></br></br>
<div class="text-center">
    <a href="https://localhost:44370/Home/Index1" class="btn btn-info ">Mostrar tiempos</a>
</div>
